@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #0080ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /*color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));*/
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dice {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transition: 1s ease;
  display: inline-block;
  margin: 20px 20px;
}

@keyframes rolling0 {
  50% {
      transform: rotateX(375deg) rotateY(445deg);
  }
}
@keyframes rolling1 {
  50% {
      transform: rotateX(455deg) rotateY(455deg);
  }
}
@keyframes rolling2 {
  50% {
      transform: rotateX(405deg) rotateY(305deg);
  }
}
@keyframes rolling3 {
  50% {
      transform: rotateX(395deg) rotateY(355deg);
  }
}
@keyframes rolling4 {
  50% {
      transform: rotateX(290deg) rotateY(440deg);
  }
}
@keyframes rolling5 {
  50% {
      transform: rotateX(400deg) rotateY(360deg);
  }
}
@keyframes rolling6 {
  50% {
      transform: rotateX(385deg) rotateY(390deg);
  }
}
@keyframes rolling7 {
  50% {
      transform: rotateX(20deg) rotateY(328deg);
  }
}
@keyframes rolling8 {
  50% {
      transform: rotateX(285deg) rotateY(355deg);
  }
}
@keyframes rolling9 {
  50% {
      transform: rotateX(201deg) rotateY(300deg);
  }
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #f6f3f0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  background: linear-gradient(145deg, #cccccc, #fff);
}

.face::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #f6f3f0;
  transform: translateZ(-1px);
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.face::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #131210;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.front {
  transform: translateZ(50px);
}

.back {
  transform: rotateX(180deg) translateZ(50px);
}

.top {
  transform: rotateX(90deg) translateZ(50px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(50px);
}

.right {
  transform: rotateY(90deg) translateZ(50px);
}

.left {
  transform: rotateY(-90deg) translateZ(50px);
}

.front::after {
  width: 30px;
  height: 30px;
  background: #f63330;
  margin: -15px 0 0 -15px;
}

.back::after {
  margin: -35px 0 0 -30px;
  box-shadow: 40px 0,
              0 25px,
              40px 25px,
              0 50px,
              40px 50px;
}

.top::after {
  margin: -30px 0 0 -30px;
  box-shadow: 40px 40px;
}

.bottom::after {
  margin: -36px 0 0 -36px;
  box-shadow: 26px 26px,
              52px 52px,
              52px 0,
              0 52px;
}

.right::after {
  margin: -30px 0 0 -30px;
  box-shadow: 40px 0,
  0 40px,
  40px 40px;
}

.left::after {
  margin: -35px 0 0 -35px;
  box-shadow: 25px 25px,
              50px 50px;
}

.dice.val1 {
  transform: rotateX(0deg) rotateY(0deg);
}
.dice.val6 {
  transform: rotateX(180deg) rotateY(0deg);
}
.dice.val2 {
  transform: rotateX(-91deg) rotateY(1deg);
}
.dice.val5 {
  transform: rotateX(91deg) rotateY(1deg);
}
.dice.val3 {
  transform: rotateX(1deg) rotateY(91deg);
}
.dice.val4 {
  transform: rotateX(1deg) rotateY(-91deg);
}

